<p>Hey, {{ deliveryman }}</p>
<p>You have a new delivery waiting to you.</p>
<ul style="list-style: none;">
  <li>
    <strong>DETAILS:</strong>
  </li>
  <li>
    <strong>Product: </strong> {{ product }}
  </li>
  <li>
    <strong>Recipient: </strong> {{ recipient }}
  </li>
  <li>
    <strong>Address: </strong> {{ address }}
  </li>
</ul>
